<form action="/register" method="post">
  <label>Username</label></br>
  <input type="text" name="username" placeholder="Masukkan username"/></br>
  <label>Password</label></br>
  <input type="password" name="password" placeholder="Masukkan pasword"/></br>
  <button type="submit">Register</button>
</form>